<footer>
    <nav class="fixed-bottom" >
        <div>
            Article Credit: <a href="https://basketball.realgm.com/nba/news" target="_blank">RealGM</a>
            <a href="/articles-json">Article JSON</a>
        </div>
    </nav>
</footer>